
:root {
    --primary-color: #283553 !important;
    --secondary-color: #2ecc71;
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--primary-color);
    background-color: #f8f9fa;
}

.navbar-light .navbar-brand {
    color:v
}

.navbar-light .navbar-nav .nav-link {
    color: #283553 !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

.jumbotron {
    background-color: var(--primary-color);
    color: #fff;
}
