/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f9fb;
    color: #333;
    font-size: 16px; /* Tamaño de fuente más moderado */
}

.contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 30px 20px; /* Padding ajustado para mantener el espacio */
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* Menos espacio debajo del título */
    color: #0066cc; /* Azul */
}

/* Estilo para el formulario */
form {
    width: 100%;
    margin-top: 20px;
}

/* Estilo de cada campo (input, textarea, select) */
input, textarea, select {
    width: 100%;
    padding: 12px; /* Padding moderado */
    margin: 12px 0; /* Márgenes moderados entre campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Tamaño de fuente ajustado */
}

/* Estilo de los campos de texto específicos */
input[type="text"], input[type="email"], input[type="date"] {
    background-color: #ffffff;
}

/* Ajustes para el área de texto (textarea) */
textarea {
    resize: vertical;
    min-height: 100px; /* Menos altura que la versión anterior */
}

/* Estilo del botón de registro */
button {
    background-color: #28a745; /* Verde */
    color: white;
    padding: 12px 24px; /* Botón con tamaño moderado */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Fuente moderada en el botón */
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #218838; /* Verde oscuro */
}

/* Estilo del enlace de volver a inicio */
.boton-volver {
    display: inline-block;
    padding: 12px 24px; /* Tamaño moderado */
    margin-top: 25px; /* Separación moderada entre el botón de envío y el de volver */
    text-align: center;
    text-decoration: none;
    background-color: #c82333; /* Rojo */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.boton-volver:hover {
    background-color: #bd2130; /* Rojo oscuro */
}

/* Botón para Modificar (color amarillo) */
button.modificar {
    background-color: #ffc107; /* Amarillo */
    color: white;
    padding: 12px 24px; /* Tamaño moderado */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente moderado */
    width: auto; /* El botón no ocupa todo el ancho */
}

button.modificar:hover {
    background-color: yellow; /* rojo oscuro al pasar el mouse */
}

/* Botón para eliminar (color amarillo) */
button.eliminar {
    background-color: red; /* rojo */
    color: white;
    padding: 12px 24px; /* Tamaño moderado */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente moderado */
    width: auto; /* El botón no ocupa todo el ancho */
}

button.eliminar:hover {
    background-color: red; /* red oscuro al pasar el mouse */
}

/* Estilo para tablas */
table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0066cc; /* Azul */
    color: white;
}

td button {
    background-color: #dc3545; /* Rojo */
    border-radius: 5px;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
}

td button:hover {
    background-color: #c82333; /* Rojo oscuro */
}

/* Estilo para los campos de búsqueda */
.contenedor-busqueda {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-busqueda input {
    width: 100%;
    flex-grow: 1;
    margin-right: 15px;
}

.alerta-exito {
    color: green;
    margin-bottom: 10px;
}

.alerta-error {
    color: red;
    margin-bottom: 10px;
}

.boton-buscar {
    font-size: 14px; /* Tamaño de fuente */
    padding: 15px 15px; /* Ajustar el relleno para hacerlo más proporcionado */
    background-color: #007bff; /* Cambiar el color de fondo */
    margin-right: 20px;
    color: white; /* Cambiar el color del texto */
    border: none; /* Sin bordes */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero para indicar que es clicable */
}

.boton-buscar:hover {
    background-color: #0056b3; /* Color de fondo cuando se pasa el cursor por encima */
}

.boton-volver-home {
    margin: 20px 0; /* Añadir margen para separación */
    text-align: center; /* Centrar el botón */
}

.boton-volver-home button {
    font-size: 14px; /* Tamaño de fuente */
    padding: 10px 20px; /* Tamaño del botón */
    background-color: #28a745; /* Color de fondo verde */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
}

.boton-volver-home button:hover {
    background-color: #218838; /* Color de fondo cuando se pasa el cursor por encima */
}